hw2-SushmithaManjunath-master/hw2-SushmithaManjunath-master/schedule.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schedule">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element type="xs:short" name="year"/>
                <xs:element type="xs:string" name="semester"/>
                <xs:element name="differentCourses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="programidentifier" minOccurs="0"/>
                                        <xs:element type="xs:string" name="programIdentifier" minOccurs="0"/>
                                        <xs:element type="xs:short" name="number"/>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element type="xs:byte" name="credits"/>
                                        <xs:element type="xs:string" name="prerequisiteclasses" minOccurs="0"/>
                                        <xs:element type="xs:string" name="prerequisites" minOccurs="0"/>
                                        <xs:element type="xs:string" name="description"/>
                                        <xs:element name="section" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="sectionNumber"/>
                                                    <xs:element type="xs:string" name="instructor"/>
                                                    <xs:element type="xs:short" name="classNumber"/>
                                                    <xs:element type="xs:string" name="room"/>
                                                    <xs:element type="xs:string" name="days"/>
                                                    <xs:element type="xs:string" name="startTime"/>
                                                    <xs:element type="xs:string" name="endTime"/>
                                                    <xs:element type="xs:string" name="status"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
